body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #3b5998;
  }
  
  #updateButton {
    padding: 10px 20px;
    background-color: #3b5998;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  